---
import IconChevronLeft from "@/assets/icons/IconChevronLeft.svg";
import LinkButton from "./LinkButton.astro";
import { slugifyStr } from "@/utils/slugify";
import { SITE } from "@/config";

type Props = {
  category?: { parent: string; child?: string };
};

const { category } = Astro.props;
---

{
  SITE.showBackButton && (
    <div class="app-layout flex items-center justify-start">
      {category ? (
        <div class="mt-8 mb-3 flex items-center gap-0">
          <LinkButton
            href="/categories/"
            class="focus-outline hover:text-foreground/75"
          >
            Categories
          </LinkButton>
          <span class="text-foreground/75"> / </span>
          <LinkButton
            href={`/categories/${slugifyStr(category.parent)}/`}
            class="focus-outline hover:text-foreground/75"
          >
            {category.parent}
          </LinkButton>
          {category.child && (
            <>
              <span class="text-foreground/75"> / </span>
              <LinkButton
                href={`/categories/${slugifyStr(category.parent)}/${slugifyStr(category.child)}/`}
                class="focus-outline hover:text-foreground/75"
              >
                {category.child}
              </LinkButton>
            </>
          )}
        </div>
      ) : (
        <LinkButton
          id="back-button"
          href="/"
          class="focus-outline -ms-2 mt-8 mb-6 hover:text-foreground/75"
        >
          <IconChevronLeft class="inline-block size-6 rtl:rotate-180" />
          <span>Go back</span>
        </LinkButton>
      )}
    </div>
  )
}

<script>
  function updateGoBackUrl() {
    const backButton: HTMLAnchorElement | null =
      document.querySelector("#back-button");
    const backUrl = sessionStorage.getItem("backUrl");
    if (backUrl && backButton) {
      backButton.href = backUrl;
    }
  }
  document.addEventListener("astro:page-load", updateGoBackUrl);
  updateGoBackUrl();
</script>
